* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body, html {
    height: 100%;
    margin: 10px transparent;
    background-image: url(../css/img/fondoNew.jpg);
    background-size: cover;
    color: blanchedalmond;
}

.foodItem {
    float: left;
}

.btnItem {
    position: absolute;
}

.foodImage {
    height: 120px;
    width: 150px;
    margin: 5px;
}

.foodItem2 {
   position: relative;
   top: 170px;
   right: 640px;
}